@font-face{
    font-family: 'Iosevka';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Iosevka';
    font-size: 18px;
    background-color: white;
    transform: translateY(-40px);
}

#centered, #whoami {
    font-size: 18px;
}

div {
    margin-bottom: 18px;
}

#links {
    color: #9a9a9a;
}

a {
    text-decoration: none;
    color: #9a9a9a;
    transition: color 0.25s ease;
}

a:hover {
    text-decoration: none;
    color: #ace1a3;
}

/*  Zoomed in mobile version */
@media (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Iosevka';
        font-size: 36px;
        background-color: white;
        transform: translateY(-40px);
    }

    #centered, #whoami {
        font-size: 36px;
    }

    div {
        margin-bottom: 36px;
    }
}
